doctype
html
  head
    title ExpressIt Admin
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(href='//fonts.googleapis.com/css?family=Slabo+27px', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='styles.css')
  body

    header
      h1
        | app.use(
        svg(enable-background='new 0 0 30 30', height='30px', version='1.1', viewbox='0 0 30 30', width='30px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g
            path(d='M24.417,2.854c0-1.547-1.268-2.813-2.813-2.813H2.854c-1.549,0-2.813,1.266-2.813,2.813v13.125   c0,1.548,1.264,2.813,2.813,2.813h0.938v-15h20.625V2.854z')
            path(d='M26.908,6.719H9.769c-1.682,0-3.051,1.367-3.051,3.051v11.996c0,1.683,1.369,3.051,3.051,3.051h3.939l4.266,4.975   c0.092,0.106,0.225,0.168,0.364,0.168c0.141,0,0.273-0.063,0.364-0.168l4.262-4.975h3.943c1.682,0,3.051-1.368,3.051-3.051V9.77   C29.958,8.086,28.589,6.719,26.908,6.719z M25.875,20.562c0,1.091-0.888,1.979-1.979,1.979h-2.558l-2.764,3.226   c-0.059,0.069-0.145,0.109-0.236,0.109c-0.09,0-0.177-0.039-0.236-0.108l-2.767-3.227H12.78c-1.09,0-1.979-0.888-1.979-1.979V12.78   c0-1.091,0.888-1.979,1.979-1.979h11.116c1.09,0,1.979,0.888,1.979,1.979V20.562z')

        |  ExpressIt Admin)
      .create-new-key
        .close.close-new-key!= '&times;'
        h2 Create new Translation
        p: input.new-key-name(type='text', placeholder='new field key: eg, welcome.msg.home')
        p: .btn.save-new-key Save
    .wrapper
      .manage
        - allKeys = []
        each key in keys
          each val, index in key.value
            if !~allKeys.indexOf(index)
              - allKeys.push(index)
              .key
                h2
                  a(name=index, href='#' + index) #
                  = ' ' + index + ' '
                  i.fa.fa-trash.remove-key(data-key=index)
                each variant in variants
                  p #{variant}
                  each item in keys
                    if item.variant == variant
                      .group
                        p.split
                          textarea(data-key=index, data-variant=variant)!= item.value[index]
                          span.btn.save-variant save
       if !allKeys.length
        h2 You have no translation keys
        p Create your first one!
        .btn.show-create-key Create new Key
    footer
      .inner
        p Built by <a href='https://github.com/ded'>Dustin Diaz</a>
          = ' '
          a(href='https://twitter.com/ded'): i.fa.fa-twitter
        p Release #{version} · <a href='https://github.com/ded/express-it'>GitHub</a> · <a href='https://github.com/ded/express-it/issues'>Issues</a>
          if latestVersion && version !== latestVersion
            span.latest.broadcast= ' · latest version is ' + latestVersion
    .menu
      i.fa.fa-th-list#menu-button(class=!allKeys.length ? 'broadcast' : undefined)
      ul
        li
          .btn.toggle-new-key Create new Key
        li.head Keys
        each key in allKeys
          li.item: a(href='#' + key)= key

    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='app.js')
